* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.banner img {
    width: 30%;
}

.intro {
    border-radius: 24px;
    box-shadow: 0px 5px 20px 0px #d7d7d7;
    background: #ffffff;
    width: 70%;

    margin: 3% auto 0;
    padding: 35px 50px 50px;

    display: flex;
    flex-direction: column;
}

.wrapper {

    margin: 4% auto 0;

    width: 100%;

    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.wrapper .box {

    width: 300px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}

.wrapper .box .front-face {
    background: linear-gradient(-135deg, #80a5f8, #22a4cb);
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s ease;
}

.box .front-face .icon {
    height: 80px;
}

.box .front-face .icon i {
    font-size: 65px;
}

.box .front-face, .box .back-face {
    box-sizing: border-box;
    border-radius: 24px;
}

.box .front-face span,
.box .back-face span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box .back-face {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #4f66c5;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome 和 Safari */
    -moz-backface-visibility: hidden;
    background: #fff;
    transform: translateY(130px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.box .back-face p {
    margin-top: 10px;
    text-align: justify;
}

.box:hover {
    cursor: pointer;
}

.box:hover .back-face {
    opacity: 1;
    transform: rotateX(0deg);
}

.box:hover .front-face {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}
